// Specific CSS for your home-page
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #181818 !important;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

.alert {
  margin: 0 !important;
  padding: 0 !important;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  padding-left: 60px;
  font-family: 'Oswald', sans-serif;
}

.banner-info h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
}

.banner-info p {
  font-size: 20px;
  color: yellow;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.banner-info p {
  padding-top: 10px;
  padding-bottom: 30px;
}

.banner-info h2 {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.banner-info .btn {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

div.banner-info {
  position: fixed;
  // background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 0 50px;
  padding-top: 200px;
}

.btn-flat {
  color: #ffffff;
  padding: 8px 24px;
  border-radius: 4px;
  background: #ffffff;
  transition: 0.3s ease;
  text-decoration: none;
  // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 5px #fff;
}

.btn-flat:hover {
  background: #3429ff;
  color: white;
  border: 1px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: rgb(0, 0, 0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: white;
}


.hammer-header h1 {
  font-family: 'Road Rage', cursive;
  font-size: 70px;
}

.rage-video {
  position: fixed;
  right: 0;
  min-width: 100%;
  min-height: 100%;
}
