<div class="mw-100">
  <div class="banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),     url(https://images.unsplash.com/photo-1566937169390-7be4c63b8a0e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80);">
    <div class="container">
      <h2>Find a room to <span>smash</span> your pain away!</h2>
      <p>Relieve stress. Break stuff.</p>
      <%= link_to("Browse Rage Rooms", rooms_path, {class: "btn btn-dark"}) %>
    </div>
  </div>
</div>
