<div class="page-frame-content">
  <div class="page-frame-header">
    <%= render "shared/navbar" %>
  </div>
  <div class="page-frame-body">
    <div class="mw-100">
      <video class="rage-video" autoplay muted loop id="myVideo">
        <source src="/rage-video.mp4" type="video/mp4">
      </video>
      <div class="container banner-info">
        <h2>Smash your pain away!</h2>
        <p>Relieve stress. Break stuff.</p>
        <%= link_to("Browse Rage Rooms", rooms_path, {class: "btn btn-dark"}) %>
      </div>
    </div>
  </div>
</div>
