// .card-booking-container {
//   display: flex;
//   justify-content: space-between;
//   width: 1000px;
//   margin: 2em auto;
//   gap: 0em;
//   color: rgb(40,40,40);
// }

.card-booking {
  overflow: hidden;
  height: 140px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  position: relative;
  margin: 30px;
}

.card-booking img {
  height: 100%;
  width: 140px;
  object-fit: cover;
}

.card-booking h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-booking p {
  font-size: 20px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  right: 12px;
  margin-right: 16px;
  }

.card-booking .card-booking-infos {
  padding: 16px;
  width: 700px;
}

.booking-status-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 20px;
}

.custom {
  margin: 0;
  width: 78px !important;

}


@media (max-width: 992px) {

  .card-booking-container {
    flex-direction: column;
    width: 800px;
    margin: 1em auto;
    gap: 1em;
  }

  .booking-status-card {
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 191px;
    top: 149px;
  }
}

@media (max-width: 768px) {
  .card-booking .card-booking-infos {
    width: 500px;
  }

  .card-booking-container {
    width: 600px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 576px) {
  .card-booking .card-booking-infos {
    width: 300px;
  }

  .card-booking-container {
    width: 400px;
  }

}
