.card-pick {
  /*fixed*/
  display: flex;
  flex-direction: column;
  /*customizable*/
  height: 600px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.3);
  margin: 8px;
  // padding: 10px;
  position: relative;
}

.card-pick-link{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
}

.card-pick h2{
  position: absolute;
  top: 16px;
  left: 16px;
  font-weight: 700;
  color: white;
  text-shadow: -3px 2px 5px #161616;
}
.card-pick img {
  /*fixed*/
  width: 100%;
  min-height: 100px;
  flex-grow: 1;
  object-fit: cover;
  /*customizable*/
  object-position: 50% 0%;
  border-radius: 0px 0px 0 0;
}
.card-pick-info {
  /*customizable*/
  padding: 24px 16px;
}
.card-pick-info h2 {
  /*customizable*/
  margin: 0;
}
.card-pick:hover {
  /*customizable*/
  transition: 0.2s ease-out;
  transform: translateY(-8px);
  box-shadow: 0 6px 16px rgba(245, 245, 245, 0.3);
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
