.navbar-lewagon {
  justify-content: space-between;
  background: rgb(0, 0, 0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-bar-header {
  font-family: 'Oswald', sans-serif;
  color: white;
  padding-left: 20px;
}

.tags {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-decoration: none;
}


.hammer-header h1 {
  font-family: 'Road Rage', cursive;
  font-size: 70px;
  vertical-align: middle;
  line-height: 70px;
}

.hammer-header a {
  color: white;
}

li.nav-item {
  padding: 0 20px;
}

.tags {
  position: relative;
  color: rgb(250, 250, 250);
  text-decoration: none;
}

.tags:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  padding: 0 20px;
  left: 0;
  background-color: #ffff00;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

.tags:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  font-size: 20px !important;
}

.icon {
  font-size: 40px;
  position: left;
  padding-left: 10px;
  line-height: 70px;
}

div.hammer-header {
  display: flex;
}

.menu {
  color: white;
  font-size: 30px;
}

.dropdown-item {
  color: rgb(0, 0, 0) !important;
}

 .item-dark {
  color: black !important;
 }

 .dropdown-menu {
  padding-left: 10px;
 }

 .underlined {
  color: white;
 }

 .underlined:hover {
  color: white;
 }
