
.room-banner {
  background-size: cover;
  background-position: center;
  padding: 100px 100px;
  margin: auto 200px;
  font-family: Oswald ;
}

.room-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.room-banner {
  h2 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 24px;
    opacity: .8;
  }
}

.room-banner h5 {
  font-size: 20px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.room-banner-info {
  background-color: rgba(59, 58, 59, 0.6);
}

.bookings-container {
  display: flex;
  flex-direction: column;
  margin: auto 240px;
}

.bookings-container h2 {
  color: whitesmoke;
}
