<%# name of the partial should be what is taken from html %>
<div class="reviews-card">
  <div class="reviews-user"><%=review.user.username%>:</div>
  <div class="reviews-content">"<%=review.content%>"</div>
</div>
